# This is an example .env file for the FastAPI application.
# You can copy this file to .env and modify the values as needed.

# Database connection URL (using SQLite for development)
DATABASE_URL=sqlite+aiosqlite:///./test.db
# Set to True to enable SQL query logging (only for development)
DATABASE_ECHO=False

# Set the environment (development, staging, production)
environment=development